.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    /* margin-right: 40px;
    margin-left: 40px; */
   background-color: aquamarine;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-left{
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 70%;
    padding-right: 20px;
}

.header-btns{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    /* width: 300px; */
}

.header-btns .btn{
    font-size: 25px;
    margin-left: 20px;
}

.header-left .hamburger{
    display: none;
}

.header-btns #hidden{
    display: flex;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 30%;
    padding-right: 20px;
}

@media only screen and (max-width: 850px){
    .header-btns .btn{
        font-size: 20px;
    }
}
@media only screen and (max-width: 750px){
    .header-btns .btn{
        font-size: 15px;
    }
}
@media only screen and (max-width: 650px){
    .header-left .hamburger{
        display: flex;
    }
    .header-left .header-btns {
        display: none;
        margin-left: 0;
    }
    .header-left #hidden{
        position: absolute;
        display: flex;
        left: 0;
        top: 100px;
        height: auto;
        width: 100%;
        background-color: aquamarine;
        flex-direction: column;
        align-items: center;
    }

    .header-left #hidden .btn {
        font-size: 25px;
        margin: 10px;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-left #hidden .logo{
        margin: 10px;
    }
}